.nav-bar {
    background-color: #1d1d1d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    z-index: 4;
  }
  nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  .WW-logo {
    /* background-color: red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
  }
  /* CSS style the logo and image */
  .WW-logo .logo {
    position: relative;
    padding: 5px;
    margin: 2px;
    margin-right: 5px;
  }
  .logo a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    height: 55px;
  }
  /* CSS style the logo name */
  .WW-logo .name {
    font-size: xx-large;
    font-weight: bold;
    padding: 5px;
    margin-left: 5px;
  }
  /* CSS style hte navigation tabs */
  nav .nav-tabs {
    position: relative;
    display: flex;
    height: 65%;
    width: 50%;
  }
  .nav-tabs ul {
    /* background-color: yellow; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }
  .nav-tabs ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 20%;
  }
  .nav-tabs a {
    background-color: #363636;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50px;
  }
  .nav-tabs a span {
    text-align: center;
    font-size: medium;
    color: white;
    font-weight: 500;
  }
  /* CSS style the user logo */
  nav .user-logo {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    padding: 2px;
  }
  .user-logo .user {
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    padding: 3px;
  }
  .user img {
    height: 55px;
    width: 55px;
  }
  /* .user-profile-image {
    background-color: green;
  } */
  .user-logo .options{
    /* background-color: green; */
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10%;
    height: fit-content;
    top: 100%;
    border: 1px solid white;
  }
  .options .common-option{
    /* background-color: violet; */
    text-align: center;
    position: relative;
    width: 100%;
    padding: 5px;
    border-bottom: 0.5px solid white;
    cursor: pointer;
  }
  .common-option span{
    font-size: large;
    font-weight: 600;
  }
  .nav-tabs a.active-tab {
    background-color: var(--main-color);
  }
  .nav-tabs a:hover, .common-option:hover, .common-option.active-option {
    background-color:  var(--main-color);
  }
  .user-logo .user:hover{
    /* background-color:  var(--main-color); */
    outline: 2px solid var(--main-color);
    offset: 2px;
  }